html {
  cursor: url('../cursor/toro.cur'), auto;
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  font-family: 'Comic Sans MS';
  margin: 50px;
}

a {
  cursor: url('../cursor/toro.cur'), auto;
}

 /* new link */
a:link {
  color: purple;
}

/* visited link */
a:visited {
  color: purple;
}

/* hovering over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: pink;
} 

.headerpic {
  margin-top: -50px;
  height: 150px
}

.navbar {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

.navlist {
  float: left;
}

.navlink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#footertext {
  font-size: 12px;
}

/* marquee styles ^_^ */
.marquee {
  --gap: 0.25rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* pauses animation for my silly lil fellas */
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}

.marquee__top {
  position: fixed;
  top: 0;
}

.marquee__bot {
  position: fixed;
  bottom: 0;
}

/* enable animation */
.enable-animation .marquee__content {
  animation: scroll 50s linear infinite;
}

/* reverse animation */
.marquee__reverse .marquee__content {
  animation-direction: reverse;
}

/* pause on hover */
.enable-animation.marquee:hover > * {
  animation-play-state: paused;
}

/* size parent based on content. parent width = both */
.marquee__fit-content {
  max-width: fit-content;
}

/* a fit-content sizing fix i stole lol */
.marquee__pos-absolute .marquee__content:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

/* enable position absolute animation on duplicate */
.enable-animation .marquee__pos-absolute .marquee__content:last-child {
  animation-name: scroll-abs;
}

/* keyframe animation to create illusion of infinite loop by duping container */
@keyframes scroll-abs {
  from {
    transform: translateX(calc(100% + var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background: #0d0d0d;
    color: #ffffff;
  }
  /* new link */
  a:link {
    color: plum;
  }

  /* visited link */
  a:visited {
    color: plum;
  }

  /* hovering over link */
  a:hover {
    color: hotpink;
  }

  /* selected link */
  a:active {
    color: blueviolet;
  } 
}